.header.header__article {
	height: 400px;
}

.header__article .header__texture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;left: 0;
    background: url('../img/image5.jpg') center no-repeat;
    background-size: cover;
    z-index: 1;
    opacity: 0.5;
}
.article-total{
    width: auto;
    height: 500px;
    position: relative;
} 

.article__view-container {
    width: 440px;
    margin: left;
    padding-bottom: 0px;
    position:absolute;
    top: 15%;left: 70px;
}

.article__view-container2 {
    width: 850px;
    margin: right;
    padding-bottom: 0px;
    position:absolute;
    top: 5%;right: 70px;
}

@media only screen and (max-width: 1427px){
    .article__view-container {
        width: 440px;
        margin: auto;
        padding-bottom: 10px;
        position: left;
    }
    .premier{
        position: relative;
        text-align: center;
    }
    .article__view-container2 {
        width: 440px;
        margin: auto;
        padding-bottom: 10px;
        position: right;
    }
}

@media only screen and (max-width: 1028px){
    .article-total{
        width: auto;
        height: auto;
        position: relative;
    } 
    
    .article__view-container {
        width: 350px;
        margin: center;
        padding-bottom: 10px;
        position: relative;
        top: auto;left: auto;
    }

    .article__view-container2 {
        width: 350px;
        margin: center;
        padding-bottom: 10px;
        position: relative;
        top: auto;right: auto;
    }
}
.article__view-title {
    font-size: 30px;
    font-weight: 700;
    color: #f39c12;
    margin: 0;
}

.article__view-content {
    padding-top: 10px;
    text-align: justify;
    font-weight: 300;
    padding-bottom: 1px;
    font-size: 17px;
    line-height: 28px;
}

.article__view-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}